.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 1px solid #000;
    background: var(--Primary-Yellow, #FFFFD3);
    font-family: Arial, sans-serif;
    height: 70px;
  }
  
  .navbar-logo {
    width: 94px;
    height: 44px;
    flex-shrink: 0;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .menu-links {
    display: inline-flex;
    align-items: center;
    gap: 65px;
  }
  
  .menu-links li {
    list-style: none;
    color: var(--Black, #111);
font-family: "Cal Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
text-transform: uppercase;
    cursor: pointer;
  }
  
  .menu-links li:hover {
    border-radius: 9px;
    border: 1px solid #000;
    background: var(--Highlight-Yellow, #FFE6A0);
    /* display: flex; */
/* width: 182px; */
/* height: 60px; */
padding: 15px 16px;
/* justify-content: center; */
/* align-items: center; */
/* gap: 10px; */
  }
  